#container {
  position: relative;
  margin: 0px auto;
  width: 1000px;
  height: 550px;
  background: #EFD279;
}

#container div {
  background: #95CBE9;
  position: absolute;
}

#title-container {
  top: 10px;
  left: 10px;
  width: 485px;
  height: 60px;
  font-size: 3.5em;
}

#desc-container {
  top: 10px;
  right: 10px;
  width: 485px;
  height: 60px;
}

#video-container {
  top: 80px;
  left: 270px;
  width: 460px;
  height: 350px;
}

#image-container {
  top: 80px;
  left: 10px;
  width: 250px;
  height: 250px;
}

#googlemap-container {
  top: 80px;
  right: 10px;
  width: 250px;
  height: 250px;
}

#wikipedia-container {
  bottom: 10px;
  right: 10px;
  width: 250px;
  height: 200px;
}

#footnote-container {
  bottom: 10px;
  left: 270px;
  width: 460px;
  height: 100px;
}

#wordriver-container {
  bottom: 10px;
  left: 10px;
  width: 250px;
  height: 200px;
}

#webpage-container {
  display: none;
}

#powered-by {
  
}
